.about {
  position: relative;
  z-index: 10;
  color: var(--contrast-text);
  background-color: var(--basic-400);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 132px;
    background-color: var(--basic-700);

    @media (min-width: $tablet) {
      width: calc(100% - var(--padding-tablet) * 2);
      height: 212px;
      margin-left: var(--padding-tablet);
      margin-right: var(--padding-tablet);
      border-radius: 20px;
    }
  }
}

.about__wrapper {
  position: relative;
  z-index: 1;
  padding: 33px 60px 82px 49px;
  background-image: url("../img/bg/about-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: 17px top;

  @media (min-width: $tablet) {
    margin-right: 8px;
    padding: 41px 60px 89px 74px;
    background-image: url("../img/bg/about-bg-tablet.png");
    background-position: right 48px;
  }
}

.about__title {
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    margin-bottom: 41px;
  }
}

.about__text {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    width: 310px;
    margin-bottom: 30px;

    br {
      display: none;
    }
  }
}

.about__text-strong {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-bold;

  @media (min-width: $tablet) {
    width: 310px;
    margin-bottom: 52px;
    font-size: 21px;
    line-height: 25px;
  }
}

.about__btn {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 276px;
  }
}
