.about {
  position: relative;
  color: var(--contrast-text);
  background-color: var(--basic-400);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  @media (min-width: $desktop) {
    padding-top: 60px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 132px;
    background-color: var(--basic-700);

    @media (min-width: $tablet) {
      width: calc(100% - var(--padding-tablet) * 2);
      height: 212px;
      margin-left: var(--padding-tablet);
      margin-right: var(--padding-tablet);
      border-radius: 20px;
    }

    @media (min-width: $desktop) {
      width: 212px;
      top: 130px;
      margin-right: auto;
      margin-left: calc((100% - 1320px) / 2); //1320 = max-width - 60px * 2
    }
  }
}

.about__wrapper {
  position: relative;
  z-index: 1;
  padding: 51px 60px 82px 49px;
  background-image: url("../img/bg/about-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: 67% 18px;

  @media (min-width: $tablet) {
    margin-right: 8px;
    padding: 41px 60px 89px 74px;
    background-image: url("../img/bg/about-bg-tablet.png");
    background-position: right 48px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 132px 0 163px 130px;
    background-image: url("../img/bg/about-bg-desktop.png");
    background-position: 750px 85px;
  }
}

.about__title {
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

.about__text {
  margin-top: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    width: 310px;
    margin-bottom: 30px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    width: 620px;
    margin-bottom: 38px;
  }
}

.about__text-strong {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    width: 310px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop) {
    width: 425px;
    margin-bottom: 85px;
  }
}

.about__btn {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 276px;
  }
}
