.add-plan {
  position: relative;
  margin-top: calc(var(--inner-border-radius) * -1);
  padding-top: 30px;
  padding-bottom: 102px;
  border-top-left-radius: var(--inner-border-radius);
  border-top-right-radius: var(--inner-border-radius);
  background-color: var(--background-800);

  @media (min-width: $tablet) {
    padding-top: 53px;
    padding-bottom: 177px;
  }

  @media (min-width: $desktop) {
    padding-top: 55px;
    padding-bottom: 188px;
  }
}

.add-plan__wrapper {
  @media (min-width: $tablet) {
    padding-left: var(--double-padding);
    padding-right: var(--double-padding);
  }

  @media (min-width: $desktop) {
    padding-left: var(--padding-desktop);
    padding-right: var(--padding-desktop);
  }
}

.add-plan__title {
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    margin-left: 69px;
    margin-bottom: 54px;
  }
}
