.address {
  position: relative;
  z-index: 5;
  margin-top: -30px;
  padding-top: 62px;
  padding-bottom: 34px;
  background-color: var(--accent);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  @media (min-width: $tablet) {
    margin-top: -60px;
    padding-top: 110px;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop) {
    padding-top: 116px;
    padding-bottom: 55px;
  }
}

.address__wrapper {
  display: grid;
  grid-template-columns: 45px 1fr;
  column-gap: 16px;
  row-gap: 33px;
  align-items: center;

  @media (min-width: $tablet) {
    grid-template-columns: 103px 1fr;
    column-gap: 26px;
    row-gap: 42px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 313px 1fr 399px;
    column-gap: 31px;
  }
}

.address__marker {
  width: 45px;
  height: 45px;

  @media (min-width: $tablet) {
    width: 68px;
    height: 68px;
    justify-self: end;
  }

  @media (min-width: $desktop) {
    width: 90px;
    height: 90px;
  }
}

.address__text {
  font-family: $font-bold;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-300);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 28px;
  }
}

.address__btn {
  padding: 18px 36px 19px 19px;
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    padding: 26px 51px 24px 35px;
    margin-left: 35px;
    margin-right: 35px;
    width: auto;
  }

  @media (min-width: $desktop) {
    padding: 26px 62px 24px 35px;
    margin-left: 0;
    margin-right: 0;
    grid-column: 3 / 4;
    justify-self: start;
  }
}
