.calendar {
  width: 100%;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
  border-collapse: collapse;

  @media (min-width: $tablet) {
    font-size: 18px;
  }
}

.calendar__month-wrapper {
  position: relative;
  margin-bottom: 15px;
  padding: 12px 0 10px;
  border-top: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;

  @media (min-width: $tablet) {
    padding: 27px 0 22px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 10px;
    padding: 28px 0 21px;
  }
}

.calendar__month {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-bold;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-300);
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.calendar__month-control {
  position: absolute;
  top: 50%;
  padding: 0;
  width: 15px;
  height: 100%;
  border: none;
  background-color: transparent;
  overflow: hidden;
  transform: translateY(-50%);
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 29px;
  }

  &:hover::after {
    opacity: 0.5;
  }

  &:active::after {
    opacity: 0.1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 21px;
    top: 50%;
    right: 0;
    background-image: url("../img/icons/calendar-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
    opacity: 0.3;
    transition: opacity 0.3s;

    @media (min-width: $tablet) {
      width: 29px;
      height: 36px;
    }

    @media (min-width: $desktop) {
      width: 29px;
      height: 28px;
    }
  }

  &--prev {
    left: 0;

    @media (min-width: $tablet) {
      left: 13px;
    }

    @media (min-width: $desktop) {
      left: -3px;
    }

    &::after {
      transform: translateY(-50%) rotate(-180deg);
    }
  }

  &--next {
    right: 0;

    @media (min-width: $tablet) {
      right: 13px;
    }

    @media (min-width: $desktop) {
      right: -5px;
    }
  }
}

.calendar__day-name {
  padding: 7px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 8px;
  }

  @media (min-width: $desktop) {
    text-align: left;
    padding: 8px 16px 19px;
  }

  &--holiday {
    color: #ff5c23;
  }
}

.calendar__full-day-name {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }
}

.calendar__day {
  padding: 7px 0 5px;
  width: calc(100% / 7);
  text-align: center;
  color: var(--basic-300);
  border: 1px solid #d6d9e6;
  outline-color: transparent;
  background-color: var(--background);
  transition: outline-color 0.4s color 0.3s background-color 0.3s;

  @media (min-width: $tablet) {
    padding: 25px 0;
    font-family: $font-medium;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    padding: 14px 0 38px 15px;
    font-family: $font-regular;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
  }

  &:hover:not(&--disabled) {
    outline: 4px solid #ff5c23;
    outline-offset: -3px;
    color: var(--contrast-text);
    background-color: var(--basic-300);
    cursor: pointer;
  }

  &--disabled {
    color: var(--text-fade);
    background-color: var(--background-white);

    @media (min-width: $tablet) {
      font-family: $font-regular;
      font-size: 18px;
      line-height: 18px;
    }
  }

  &--chosen {
    color: var(--contrast-text);
    background-color: var(--basic-300);
  }

  &--checkin,
  &--checkout {
    position: relative;

    @media (min-width: $desktop) {
      &::after {
        position: absolute;
        content: "Заезд";
        left: 15px;
        bottom: 12px;
      }
    }
  }

  &--checkin {
    @media (min-width: $desktop) {
      &::after {
        content: "Заезд";
      }
    }
  }

  &--checkout {
    @media (min-width: $desktop) {
      &::after {
        content: "Выезд";
      }
    }
  }
}

.calendar__month-name {
  display: none;

  @media (min-width: $desktop) {
    display: inline-block;
  }
}
