.chart {
  position: absolute;
  display: inline-block;

  &--profile {
    position: relative;

    .chart__svg {
      width: 106px;
      height: 106px;
    }

    .chart__circle {
      fill: none;
      stroke-width: 1;
    }

    .chart__text {
      @media (min-width: $tablet) {
        top: 53%;
      }
    }

    .chart__persent {
      top: -7px;
      font-size: 38px;
      line-height: 38px;
      color: var(--basic);

      @media (min-width: $desktop) {
        top: -2px;
        color: var(--contrast-text);
      }

      &::after {
        bottom: -1px;
        left: -5px;
        width: 51px;
        height: 2px;
        background-color: var(--text-fade);

        @media (min-width: $desktop) {
          bottom: 2px;
          background-color: var(--background-white);
          filter: opacity(0.3);
        }
      }
    }

    .chart__level {
      font-size: 18px;
      line-height: 18px;
      color: var(--text);

      @media (min-width: $desktop) {
        color: var(--contrast-text);
      }
    }
  }

  &--small {
    .chart__svg {
      width: 45px;
      height: 45px;
    }

    .chart__circle {
      fill: none;
    }

    .chart__persent {
      color: var(--basic-300);

      &::after {
        height: 0;
      }
    }

    .chart__level {
      display: none;
    }
  }
}

.chart__svg {
  width: 60px;
  height: 60px;
}

.chart__circle {
  fill: rgba(0, 0, 0, 0.6);
  stroke-width: 2;
  stroke: var(--accent-800);
  stroke-linecap: round;
  transform-origin: center center;
  transform: rotate(270deg);
}

.chart__text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: translate(-50%, -50%);
}

.chart__persent {
  position: relative;
  font-family: $font-bold;
  font-size: 24px;
  line-height: 24px;
  color: var(--contrast-text);

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: rgba(#ffffff, 0.3);
  }
}

.chart__level {
  font-family: $font-regular;
  font-size: 14px;
  line-height: 14px;
  color: var(--contrast-text);
}
