.companion-card {
  position: relative;
  width: 270px;
  display: grid;

  @media (min-width: $tablet) {
    width: 285px;
  }
}

.companion-card__img {
  width: 270px;
  height: 270px;

  @media (min-width: $tablet) {
    width: 285px;
    height: 285px;
  }
}

.companion-card__info {
  padding: 27px 36px 14px 36px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--text);
  background-color: var(--background-white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (min-width: $tablet) {
    padding: 32px 31px 24px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.companion-card__heading {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.companion-card__name {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-300);
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet) {
      width: 8px;
      height: 8px;
      left: -22px;
    }
  }

  &--offline {
    &::before {
      background-color: var(--warning);
    }
  }

  &--online {
    &::before {
      background-color: var(--okay);
    }
  }
}

.companion-card__tags {
  width: 100%;
  margin-bottom: 14px;
  padding: 0;
  font-family: $font-light;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  resize: none;
  border: none;

  @media (min-width: $tablet) {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 23px;
  }
}

.companion-card__icons-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.companion-card__flag-list {
  position: absolute;
  top: 259px;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  @media (min-width: $tablet) {
    top: 272px;
  }
}

.companion-card__flag-item + .companion-card__flag-item {
  margin-left: 20px;
}


.companion-card__level {
  position: absolute;
  top: 18px;
  left: 17px;

  @media (min-width: $tablet) {
    top: 20px;
    left: 22px;
  }
}
