.companions {
  position: relative;
  z-index: 8;
  margin-top: -30px;
  padding-bottom: 30px;
  color: var(--contrast-text);
  background-color: var(--basic-400);
  background-image: url("../img/bg/companions-bg-woman-mobile.png");
  background-repeat: no-repeat;
  background-position: left 340px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  @media (min-width: $tablet) {
    margin-top: -60px;
    padding-bottom: 87px;
    background-image: url("../img/bg/companions-bg-woman-tablet.png");
    background-position: 85% 140px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 134px;
    background-position: calc((100% - 778px) / 2) 447px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 113px;
    height: 132px;
    left: 0;
    top: 68px;
    background-color: var(--basic-700);
    border-radius: 20px;

    @media (min-width: $tablet) {
      width: 212px;
      height: 212px;
      left: 40px;
      top: 131px;
      border-radius: 20px;
    }

    @media (min-width: $desktop) {
      left: calc((100% - 1320px) / 2); //60px;
    }
  }
}

.companions__wrapper {
  padding-top: 98px;
  background-image: url("../img/bg/companions-bg-man.png");
  background-repeat: no-repeat;
  background-position: 85% 64px;

  @media (min-width: $tablet) {
    padding-top: 201px;
    background-position: 6% 487px;
  }

  @media (min-width: $desktop) {
    padding-top: 194px;
    display: grid;
    grid-template-columns: 1fr 630px;
    column-gap: 190px;
    background-position: 42% 195px;
  }
}

.companions__title {
  margin-left: 24px;
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    margin-left: 33px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    margin-left: 69px;
    margin-top: -4px;
    margin-bottom: 12px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.companions__descr {
  margin-left: 24px;
  margin-right: 29px;
  margin-bottom: 54px;

  @media (min-width: $tablet) {
    width: 430px;
    margin-left: 35px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    margin-left: 70px;
    margin-right: 0;
    margin-bottom: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.companions__text {
  margin-top: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    margin-bottom: 41px;
  }

  br {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 38px;
  }
}

.companions__text-strong {
  margin-top: 0;
  margin-bottom: 0;

  br {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }
}

.companions__list {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
  display: grid;
  gap: 9px;

  @media (min-width: 610px) {
    margin-bottom: 81px;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
  }

  @media (min-width: $tablet) {
    gap: 50px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin-bottom: 0;
    gap: 60px;
  }
}

.companions__item {
  display: flex;
  justify-content: center;
}

.companions__link {
  @media (min-width: $tablet) {
    width: auto;
    margin-left: 34px;
    margin-right: 38px;
  }

  @media (min-width: $desktop) {
    width: 280px;
    margin-left: 71px;
    margin-right: 0;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: end;
  }
}
