.contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--contrast {
    .contacts-list__link {
      color: var(--accent);
    }
  }
}

.contacts-list__item {
  @media (min-width: $desktop) {
    margin-right: 110px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  font-family: $font-bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-400);

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 28px;
  }
}

.contacts-list__svg {
  width: 45px;
  height: 45px;
  margin-right: 16px;

  @media (min-width: $tablet) {
    width: 68px;
    height: 68px;
    margin-right: 23px;
  }

  @media (min-width: $desktop) {
    width: 90px;
    height: 90px;
    margin-right: 31px;
  }

  circle {
    fill: var(--basic-600);
  }

  path {
    fill: var(--accent);
  }
}

.contacts-list__text {
  @media (min-width: $tablet) {
    margin-top: 8px;
  }
}
