.country-card {
  position: relative;
  width: 270px;
  display: grid;

  @media (min-width: $mobilexl) {
    width: 100%;
    grid-template-columns: 1fr 186px;
    align-items: center;
  }
}

.country-card__img {
  width: 270px;
  height: 110px;

  @media (min-width: $mobilexl) {
    order: 2;
    width: 186px;
    height: 140px;
  }
}

.country-card__descr {
  margin-top: -11px;
  padding: 26px 24px 22px 24px;
  display: grid;
  grid-template-columns: 1fr 61px;
  background-color: var(--background-white);
  border-radius: 10px;

  @media (min-width: $mobilexl) {
    order: 1;
    grid-template-columns: 1fr;
    height: 140px;
    margin-top: 0;
    padding: 30px 50px 20px 30px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--padding-xs {
    padding-bottom: 3px;

    @media (min-width: $mobilexl) {
      padding-bottom: 22px;

      .country-card__slogan {
        margin-bottom: 0;
      }
    }
  }
}

.country-card__name {
  margin-top: 0;
  margin-bottom: 2px;
  font-family: $font-bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--text-900);

  @media (min-width: $mobilexl) {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
  }
}

.country-card__slogan {
  grid-row: 2 / 3;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-medium;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-fade);

  @media (min-width: $mobilexl) {
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 20px;
  }

  br:first-child {
    display: none;

    @media (min-width: $mobilexl) {
      display: block;
    }
  }

  br:nth-child(2) {
    @media (min-width: $mobilexl) {
      display: none;
    }
  }
}

.country-card__rating {
  position: relative;
  padding-left: 19px;
  font-family: $font-medium;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-fade);

  @media (min-width: $mobilexl) {
    padding-left: 29px;
    font-size: 20px;
    line-height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url("../img/icons/icon-user.svg");

    @media (min-width: $mobilexl) {
      width: 24px;
      height: 24px;
      top: -3px;
      left: -3px;
    }
  }
}

.country-card__flag {
  position: absolute;
  width: 35px;
  height: 24px;
  top: 86px;
  left: 25px;

  @media (min-width: $mobilexl) {
    width: 70px;
    height: 47px;
    top: 17px;
    left: auto;
    right: 150px;
  }
}
