.form-search {
  @media (min-width: $tablet) {
    display: grid;
  }
}

.form-search__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #f3c72b;
  overflow-y: hidden;

  @media (min-width: $tablet) and (max-width: 1439px) {
    margin-bottom: 9px;
    display: grid;
    grid-template-columns: 126px 1fr;

    &:first-child {
      padding-top: 26px;
    }

    &:nth-child(2) {
      margin-bottom: -2px;
    }

    &:nth-child(3) {
      margin-bottom: 14px;
    }

    &:not(:first-child) {
      border-top: none;
    }

    &:last-of-type {
      margin-bottom: 36px;
      padding-bottom: 21px;
      border-bottom: 1px solid #f3c72b;
    }
  }

  @media (min-width: $desktop) {
    border-top: none;

    &:nth-child(4) {
      margin-bottom: 16px;
    }
  }

  &:last-of-type .form-search__options-list {
    margin-bottom: 15px;
  }
}

/* Legend */

.form-search__legend-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: var(--accent);
}

.form-search__legend {
  position: relative;
  width: 100%;
  padding: 12px 5px 9px;
  font-family: $font-bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-300);
  cursor: pointer;
  transition: filter 0.3s;

  @media (min-width: $tablet) {
    font-family: $font-medium;
    font-size: 20px;
    line-height: 20px;
    cursor: default;
  }

  @media (min-width: $desktop) {
    cursor: pointer;
  }

  &:hover {
    filter: opacity(0.6);

    @media (min-width: $tablet) {
      filter: opacity(1);
    }
  }

  &:active {
    filter: opacity(0.3);

    @media (min-width: $tablet) and (max-width: 1439px) {
      filter: opacity(1);
    }
  }

  &[data-name="transport"] {
    @media (min-width: $tablet) {
      padding-top: 16px;
    }
  }

  &[data-name="level"] {
    @media (min-width: $tablet) {
      padding-top: 15px;
    }
  }

  &--closed::after {
    transform: translateY(5px) rotate(180deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 5px;
    width: 1px;
    height: 1px;
    border: 4px solid transparent;
    border-bottom: 5px solid var(--basic-400);
    transition: transform 0.3s, top 0.3s;

    @media (min-width: $tablet) and (max-width: 1439px) {
      display: none;
    }
  }
}

.form-search__legend-symbol {
  display: none;

  @media (min-width: $tablet) and (max-width: 1439px) {
    display: inline;
  }
}

/* Checkbox list */

.form-search__options-list {
  position: relative;
  margin-top: 5px;
  margin-bottom: 19px;
  padding-left: 5px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
  list-style: none;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  overflow-y: hidden;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s, margin 0.5s, height 0.5s;

  @media (min-width: $tablet) and (max-width: 1439px) {
    margin-top: 9px;
    grid-template-columns: unset;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
  }

  @media (min-width: $desktop) {
    margin-top: 15px;
    row-gap: 16px;
  }

  &--row {
    margin-bottom: 14px;
    grid-template-columns: auto;
    grid-auto-flow: column;
    justify-content: start;

    @media (min-width: $tablet) {
      margin-top: 0;
      margin-left: -5px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop) {
      margin-top: 6px;
      margin-left: 0;
    }

    li {
      margin-right: 1px;
    }
  }

  &--level {
    margin-top: 3px;
    padding-left: 0;

    @media (min-width: $tablet) and (max-width: 1439px) {
      grid-template-columns: 1fr;
      margin-top: 0;
    }

    @media (min-width: $desktop) {
      margin-top: 10px;
      margin-left: 7px;
    }

    .form-search__options-wrapper {
      padding-left: 5px;
      padding-right: 4px;

      @media (min-width: $tablet) {
        padding-left: 0;
        padding-right: 6px;
      }

      @media (min-width: $desktop) {
        margin-bottom: 26px;
      }
    }
  }

  &--closed {
    width: 100%;
    height: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-40px);

    @media (min-width: $tablet) and (max-width: 1439px) {
      height: auto;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.form-search__options-item {
  @media (min-width: $tablet) {
    width: 170px;
  }

  &--range-level {
    @media (min-width: $tablet) {
      width: 100%;
      justify-self: stretch;
      display: grid;
      grid-template-columns: 293px 155px;
      column-gap: 56px;
      align-items: center;
    }

    @media (min-width: $desktop) {
      grid-template-columns: 1fr;
    }
  }
}

.form-search__checkbox-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &:hover {
    .form-search__checkbox-descr {
      filter: opacity(0.6);
    }

    .form-search__custom-checkbox {
      background-color: rgba(#ffffff, 0.6);
    }
  }

  &:active {
    .form-search__checkbox-descr,
    .form-search__custom-checkbox {
      filter: opacity(0.3);
    }
  }
}

.form-search__checkbox:checked + .form-search__custom-checkbox::after {
  opacity: 1;
}

.form-search__checkbox:focus + .form-search__custom-checkbox,
.form-search__checkbox:focus ~ .form-search__checkbox-descr {
  filter: opacity(0.6);
}

.form-search__custom-checkbox {
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: var(--background-white);
  border-radius: 4px;
  transition: background-color 0.3s;

  @media (min-width: $tablet) {
    margin-right: 12px;
    width: 24px;
    height: 24px;
  }

  &::after {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../img/icons/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.form-search__checkbox-descr {
  font-family: $font-regular;
  font-size: 15px;
  line-height: 15px;
  color: var(--text-900);
  transition: filter 0.3s;

  @media (min-width: $tablet) {
    margin-top: 4px;
    font-size: 20px;
    line-height: 20px;
  }
}

/* Min Max Range */

.form-search__options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    order: 2;
  }

  @media (min-width: $desktop) {
    order: 0;
  }
}

.form-search__input::-webkit-outer-spin-button,
.form-search__input::-webkit-inner-spin-button {
  appearance: none;
}

.form-search__input-label {
  position: relative;
  width: 100%;

  &:last-child::before,
  &:last-child::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: -8px;
    width: 16px;

    @media (min-width: $tablet) {
      left: -11px;
      width: 21px;
    }
  }

  &:last-child::before {
    top: 12px;
    height: 11px;
    background-color: white;

    @media (min-width: $tablet) {
      top: 15px;
      height: 15px;
    }
  }

  &:last-child::after {
    height: 1px;
    top: 16px;
    background-color: var(--border-color);

    @media (min-width: $tablet) {
      top: 22px;
    }
  }
}

.form-search__input {
  position: relative;
  width: 100%;
  min-height: 35px;
  text-align: center;
  border: 1px solid var(--border-color);
  appearance: textfield;
  transition: border-color 0.3s;

  @media (min-width: $tablet) {
    font-family: $font-medium;
    min-height: 46px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }

  &:hover {
    z-index: 1;
    border-color: var(--border-color-600);
  }

  &:active,
  &:focus {
    z-index: 1;
    border-color: var(--basic);
    outline: none;
  }

  &--min {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &--max {
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/* Range */

.form-search__range-wrapper {
  padding: 24px 5px 10px;

  @media (min-width: $tablet) {
    padding-top: 9px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 18px;
    padding-left: 0;
  }
}

.form-search__range-line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba(#1d2e5b, 0.2);

  @media (min-width: $tablet) {
    height: 3px;
    border-radius: 2px;
  }
}

.form-search__range-line-fill {
  position: absolute;
  right: 0;
  left: 30%;
  height: 2px;
  background-color: var(--basic-300);

  @media (min-width: $tablet) {
    left: 36%;
    height: 3px;
    border-radius: 2px;
  }

  @media (min-width: $desktop) {
    left: 30%;
  }
}

.form-search__range-handle {
  position: absolute;
  padding: 0;
  top: -4px;
  width: 10px;
  height: 10px;
  background-color: var(--basic-300);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  @media (min-width: $tablet) {
    top: -5px;
    width: 13px;
    height: 13px;
  }

  &:hover {
    transform: scale(1.4);
  }

  &:active,
  &:focus {
    transform: scale(1.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    outline: none;
  }

  &--min {
    left: 0;
  }

  &--max {
    right: 0;
  }
}

/* Submit */

.form-search__submit {
  position: relative;
  display: block;
  width: 100%;
  padding: 14px 25px 10px;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 17px;
  color: var(--basic);
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  background-color: var(--background-white);
  cursor: pointer;
  transition: box-shadow 0.3s, filter 0.3s;

  @media (min-width: $tablet) {
    width: auto;
    margin-left: 6px;
    margin-right: 7px;
    padding: 18px 25px 12px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    margin-left: 5px;
    margin-right: 2px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
    outline: none;
  }

  &:active {
    filter: opacity(0.3);
  }
}
