.main-nav {
  background-color: var(--background-white);
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;

  @media (min-width: $desktop) {
    transition: none;
  }

  &--close {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);

    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 145px 1fr;
      align-items: center;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      background-color: transparent;
      transition: none;

      &::before {
        content: "";
        justify-self: center;
        width: 60px;
        height: 2px;
        background-color: var(--background-white);
      }
    }
  }
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 51px;
  padding-left: 0;
  list-style: none;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 128px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-top: 8px;
    margin-bottom: 0;
    justify-self: start;
    display: flex;
    justify-content: start;
  }
}

.main-nav__item + .main-nav__item {
  @media (min-width: $desktop) {
    margin-left: 34px;
  }
}

.main-nav__link {
  position: relative;
  display: inline-block;
  font-family: $font-medium;
  font-size: 30px;
  line-height: 35px;
  color: inherit;
  text-transform: uppercase;
  transition: color 0.3s;
  overflow: hidden;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 20px;
    //color: var(--contrast-text);
    color: inherit;
  }

  &:hover {
    .main-nav__link-text {
      transform: translateY(-100%);
    }
  }
}

.main-nav__link-text {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;

  &::before {
    position: absolute;
    content: attr(data-hover);
    top: 100%;
    color: var(--accent);
  }
}

.main-nav__btn-auth {
  margin-bottom: 52px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet) {
    margin-bottom: 130px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.main-nav__socials {
  @media (min-width: $tablet) {
    display: inline-block;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
