/* All Page */

.main-content__title {
  position: relative;
  z-index: 2;
}

/* Index Page */

.main-content__promo {
  position: relative;
  z-index: 11;
}

.main-content__about {
  position: relative;
  z-index: 10;

  @media (min-width: $desktop) {
    margin-top: -60px;
  }
}

.main-content__ways {
  position: relative;
  z-index: 9;
}

.main-content__companions {
  z-index: 8;
}

.main-content__pricing {
  position: relative;
  z-index: 7;
}

.main-content__register {
  z-index: 6;
}

.main-content__address {
  z-index: 5;
}

.main-content__map {
  z-index: 4;
}

.main-content__companions,
.main-content__register,
.main-content__address,
.main-content__map {
  position: relative;
  margin-top: -30px;

  @media (min-width: $tablet) {
    margin-top: -60px;
  }
}

/* Form Page */

.main-content__profile {
  z-index: 1;

  @media (min-width: $desktop) {
    z-index: auto;
    background-color: transparent;
  }
}

.main-content__add-plan {
  margin-top: calc(var(--inner-border-radius) * -1);
}

/* Catalog Page */

.main-content__filter {
  margin-top: calc(var(--header-border-radius) * -1);
  margin-bottom: 19px;

  @media (min-width: $desktop) {
    margin-bottom: 94px;
  }
}

.main-content__partner-group {
  @media (min-width: $desktop) {
    max-width: $desktop;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 345px;
  }
}

.main-content__partner-search {
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    margin-top: 100px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    .container {
      padding-left: 0;
      padding-right: 60px;
    }
  }
}

.main-content__search-results {
  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    .container {
      padding-right: 86px;
    }
  }
}
