.main-nav {
  background-color: var(--background-white);
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;

  &--close {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
  }
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 51px;
  padding-left: 0;
  list-style: none;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 128px;
    text-align: left;
  }
}

.main-nav__link {
  font-family: $font-medium;
  font-size: 30px;
  line-height: 35px;
  color: var(--basic-400);
  text-transform: uppercase;
  transition: color 0.3s;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 71px;
  }
}

.main-nav__btn-auth {
  margin-bottom: 52px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet) {
    margin-bottom: 130px;
  }
}

.main-nav__socials {
  @media (min-width: $tablet) {
    display: inline-block;
  }
}
