.main-footer {
  position: relative;
  z-index: 5;
  margin-top: -60px;
  padding-top: 38px;
  padding-bottom: 17px;
  background-color: var(--background-white);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  @media (min-width: $tablet) {
    margin-top: -117px;
    padding-top: 46px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 40px;
  }
}

.main-footer__wrapper {
  display: grid;
  row-gap: 35px;
  justify-items: center;

  @media (min-width: $tablet) {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.main-footer__logo {
  @media (min-width: $tablet) {
    justify-self: start;
    margin-top: 4px;
  }

  @media (min-width: $desktop) {
    margin-top: 2px;
    margin-left: 19px;
  }
}

.main-footer__creator {
  padding-top: 10px;
  justify-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  transition: opacity 0.3s;

  @media (min-width: $tablet) {
    padding-top: 0;
    justify-self: end;
    justify-content: end;
    border-top: none;
  }

  @media (min-width: $desktop) {
    margin-right: 20px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__creator-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 16px;
  color: var(--text);

  @media (min-width: $tablet) {
    margin-right: 23px;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-footer__creator-logo {
  fill: var(--basic-400);
}
