.main-content__title {
  position: relative;
  z-index: 2;
}

.main-content__profile {
  z-index: 1;

  @media (min-width: $desktop) {
    z-index: auto;
    background-color: transparent;
  }
}

// .main-content__plans {
//   z-index: 2;
// }
