.main-content__title {
  position: relative;
  z-index: 2;
}

.main-content__profile {
  z-index: 1;

  @media (min-width: $desktop) {
    z-index: auto;
    background-color: transparent;
  }
}

.main-content__filter {
  margin-top: calc(var(--header-border-radius) * -1);
  margin-bottom: 19px;
}

.main-content__partner-search {
  margin-bottom: 28px;
}
