.main-header {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 320px;

  background-color: var(--basic);
  transition: background-color 0.5s, padding 0.5s;
}

.main-header__wrapper {
  padding-top: 19px;

  @media (min-width: $tablet) {
    padding-top: 45px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    display: grid;
    grid-template-columns: 260px 1fr 360px;
    align-items: center;
  }

  &--fixed {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    background-color: var(--background-white);

    @media (min-width: $tablet) {
      padding-top: 45px;
      padding-bottom: 40px;
    }

    @media (min-width: $desktop) {
      padding-top: 18px;
      padding-bottom: 18px;
    }

    .main-header__logo-white {
      display: none;
    }

    .main-header__logo-black {
      display: block;
    }

    .main-header__nav-btn {
      top: 25px;

      @media (min-width: $tablet) {
        top: 57px;
      }

      &::before,
      &::after {
        background-color: #cccccc;
      }
    }

    .main-header__nav {
      @media (min-width: $tablet) {
        max-height: 90vh;
        margin-top: 130px;
        padding-top: 55px;
        overflow-y: auto;
      }

      @media (min-width: $desktop) {
        margin-top: 0;
        padding-top: 0;
        max-height: auto;
        color: var(--basic-400);
      }
    }
  }

  &--white {
    padding-top: 27px;

    @media (min-width: $tablet) {
      padding-top: 45px;
    }

    .main-header__logo-white {
      display: none;
    }

    .main-header__logo-black {
      display: block;
    }

    .main-header__nav-btn {
      top: 25px;

      @media (min-width: $tablet) {
        top: 55px;
      }

      &::before,
      &::after {
        background-color: #cccccc;
      }
    }
  }
}

.main-header__logo-wrapper {
  position: relative;
  z-index: 99;
  min-height: 47px;
  padding-left: var(--padding-mobile);

  @media (min-width: $tablet) {
    padding-left: var(--padding-tablet);
  }

  @media (min-width: $desktop) {
    min-height: 53px;
    padding-left: var(--padding-desktop);
  }
}

.main-header__logo-black,
.main-header__logo-white {
  position: absolute;
  top: 0;
}

.main-header__logo-black {
  display: none;
}

.main-header__logo-white {
  display: block;
}

.main-header__nav-btn {
  position: absolute;
  z-index: 99;
  top: 19px;
  right: 26px;
  transition: top 0.3s;

  @media (min-width: $tablet) {
    top: 57px;
    right: 50%;
    transform: translateX(50%);
  }

  @media (min-width: $desktop) {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.main-header__nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  padding-top: 118px;
  padding-left: var(--padding-mobile);
  padding-right: var(--padding-mobile);
  padding-bottom: 35px;
  color: var(--basic-400);

  @media (min-width: $tablet) {
    padding-top: 185px;
    padding-bottom: 83px;
    padding-left: 97px;
    padding-right: var(--padding-tablet);
  }

  @media (min-width: $desktop) {
    position: relative;
    z-index: 99;
    padding: 0;
    color: var(--contrast-text);
  }
}

.main-header__user-links {
  position: absolute;
  top: 457px;
  left: 0;
  right: 0;
  z-index: 2;

  @media (min-width: $tablet) {
    top: 40px;
    z-index: 99;
    right: 40px;
    left: auto;
  }

  @media (min-width: $tablet) {
    top: 49px;
    right: 60px;
  }
}

.main-header__wrapper--fixed + .main-header__user-links {
  @media (min-width: $tablet) {
    position: fixed;
  }

  @media (min-width: $tablet) {
    top: 21px;
  }
}
