.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(#000000, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;

  &--open {
    visibility: visible;
    opacity: 1;
  }
}

.modal__wrapper {
  position: relative;
  top: 50%;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 34px;
  background-color: var(--background-white);
  box-shadow: 0 2px 8px rgba(29, 46, 91, 0.14);
  border-radius: 20px;
  transition: transform 0.5s;
  transform: translateY(-50%) scale(0.7);

  @media (min-width: $tablet) {
    width: 688px;
    padding-top: 42px;
  }

  @media (min-width: $desktop) {
    width: 750px;
    border-radius: 30px;
    padding-top: 66px;
  }

  &--shift-in {
    transition: transform 0.5s;
    transform: translateY(-50%) scale(1);
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: $font-bold;
  font-size: 24px;
  line-height: 24px;
  color: var(--accent-800);
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 47px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.modal__rates-list {
  margin-top: 0;
  margin-bottom: 34px;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet) {
    margin-bottom: 52px;
    margin-left: 90px;
    margin-right: 90px;
  }

  @media (min-width: $desktop) {
    margin-left: 58px;
    margin-right: 58px;
  }
}

.modal__list-row {
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(#000000, 0.05);

  @media (min-width: $tablet) {
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding-top: 14px;
    padding-bottom: 13px;
  }

  &:first-child {
    border-top: 1px solid rgba(#000000, 0.05);
  }
}

.modal__rates-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-light;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 22px;
    line-height: 28px;
  }
}

.modal__price {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-light;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet) {
    padding-right: 3px;
    font-size: 22px;
    line-height: 28px;
  }
}

.modal__btn {
  display: block;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: $font-bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-300);
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f3f4f8;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  @media (min-width: $tablet) {
    padding-top: 41px;
    padding-bottom: 41px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }

  @media (min-width: $desktop) {
    text-transform: none;
    padding-top: 47px;
    padding-bottom: 37px;
  }

  &:hover {
    background-color: #edeff6;
  }

  &:active {
    color: var(--basic-300-fade);
  }
}
