.page-title {
  padding-top: 95px;
  padding-bottom: 12px;
  background-color: var(--basic-550);
  border-bottom-left-radius: var(--header-border-radius);
  border-bottom-right-radius: var(--header-border-radius);

  @media (min-width: $tablet) {
    padding-top: 224px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 68px;
  }

  .page-title__index-link {
    display: none;
  }

  &--catalog .page-title__index-link {
    @media (min-width: $tablet) {
      display: inline-block;
    }
  }
}

.page-title__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--double-padding);
  }
}

.page-title__text {
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--contrast-text);

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -14px;
    height: 5px;
    background-color: var(--accent-800);
    border-radius: 4px;

    @media (min-width: $tablet) {
      bottom: -70px;
      height: 8px;
    }
  }
}

.page-title__index-link {
  position: relative;
  padding-right: 60px;
  margin-right: 34px;
  font-family: $font-bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--contrast-text);
  transition: filter 0.3s;

  @media (min-width: $desktop) {
    margin-right: 63px;
  }

  &:hover {
    filter: opacity(0.6);
  }

  &:active {
    filter: opacity(0.3);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 16px;
    background-image: url("../img/icons/icon-arrow-bend.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
