.partner-search__wrapper {
  padding: 26px 20px 22px;
  border-radius: 20px;
  background-color: var(--accent);
}

.partner-search__title {
  margin: 0 0 22px 5px;
  font-family: $font-bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--basic-300);
}
