.partner {
  padding: 15px 0 23px;
  display: grid;
  grid-template-columns: 88px 1fr 76px;
  grid-template-areas:
    "userpic name name"
    "userpic rating ."
    "tags tags ."
    "ways ways ways"
    "transport transport level"
    "btn btn btn";
  border-radius: 20px;
  background-color: var(--background-white);
  transition: box-shadow 0.3s;

  @media (min-width: $tablet) {
    padding: 17px 0 18px;
    grid-template-columns: 225px 179px 1fr 87px;
    grid-template-areas:
      "userpic name name transport"
      "userpic tags tags transport"
      "userpic btn rating level"
      "ways ways ways ways";

    &:hover .partner__userpic img {
      transform: scale(1.2);
    }
  }

  @media (min-width: $desktop) {
    padding: 0;
    grid-template-columns: 285px 204px 185px 1fr 105px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "userpic name name ways ways"
      "userpic tags tags ways ways"
      "userpic btn rating transport chart";
    align-items: start;
    align-content: start;
  }

  &:hover {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.16);
  }

  /* For Pixel Perfect */
  &--demin {
    @media (min-width: $tablet) {
      padding-top: 18px;
    }

    @media (min-width: $desktop) {
      padding-top: 0;
    }

    .partner__ways-wrapper {
      margin-bottom: 15px;

      @media (min-width: $tablet) {
        margin-bottom: 9px;
      }
    }

    .partner__transport-wrapper {
      margin-bottom: 18px;

      @media (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
  }

  &--smolov {
    .partner__ways-wrapper {
      margin-bottom: 10px;

      @media (min-width: $tablet) {
        margin-bottom: 9px;
      }
    }

    .partner__transport-wrapper {
      margin-bottom: 18px;

      @media (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
  }

  &--rogovaya {
    .partner__ways-wrapper {
      margin-bottom: 15px;

      @media (min-width: $tablet) {
        margin-bottom: 8px;
      }
    }

    .partner__transport-wrapper {
      margin-bottom: 19px;

      @media (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
  }
}

/* Userpic Block */

.partner__userpic {
  width: 70px;
  height: 70px;
  margin-left: 18px;
  grid-area: userpic;
  overflow: hidden;

  @media (min-width: $tablet) {
    width: 190px;
    height: 190px;
    margin-left: 35px;
    margin-top: 18px;
    border-radius: 20px;
  }

  @media (min-width: $desktop) {
    width: 285px;
    height: 285px;
    margin-left: 0;
    margin-top: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  img {
    transition: transform 0.3s;
  }
}

/* Name Block */

.partner__name {
  position: relative;
  margin: 0 0 0 16px;
  grid-area: name;
  font-family: $font-bold;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-300);
  transition: filter;

  @media (min-width: $tablet) {
    margin-top: -3px;
    margin-left: 33px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 46px;
    margin-left: 36px;
    margin-bottom: 21px;
  }

  &:hover {
    filter: opacity(0.6);
  }

  &:active {
    filter: opacity(0.3);
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 22px;
    width: 6px;
    height: 6px;
    border-radius: 50%;

    @media (min-width: $tablet) {
      position: relative;
      margin-left: 22px;
      top: auto;
      right: auto;
      width: 8px;
      height: 8px;
    }

    @media (min-width: $desktop) {
      order: -1;
      margin-left: 0;
      margin-right: 18px;
    }
  }

  &--offline::after {
    background-color: var(--warning);
  }

  &--online::after {
    background-color: var(--okay);
  }
}

.partner__name-link {
  color: inherit;

  @media (min-width: $tablet) {
    br {
      display: none;
    }
  }
}

/* Tags Block */

.partner__tags {
  margin: 0 0 0 26px;
  padding: 10px 0;
  grid-area: tags;
  font-family: $font-regular;
  font-size: 15px;
  line-height: 18px;
  color: var(--text);
  border: none;
  resize: none;

  @media (min-width: $tablet) {
    margin-left: 33px;
    margin-right: 95px;
    font-size: 20px;
    line-height: 23px;
    padding: 0 5px 2px 3px;
  }

  @media (min-width: $desktop) {
    margin-left: 59px;
    margin-right: 65px;
  }
}

/* Ways countries block */

.partner__ways-wrapper {
  margin-bottom: 8px;
  grid-area: ways;
}

.partner__block-title-wrapper {
  position: relative;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    display: none;
  }

  &--show {
    @media (min-width: $tablet) and (max-width: 1439px) {
      display: block;
      margin-top: 16px;
      margin-bottom: 18px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--background);
    transform: translateY(-50%);

    @media (min-width: $tablet) {
      top: 60%;
    }
  }

  &--small .partner__block-title {
    margin-left: 3px;
  }
}

.partner__block-title {
  position: relative;
  z-index: 1;
  padding: 0 11px;
  margin: 0 0 0 15px;
  display: inline-block;
  font-family: $font-regular;
  font-size: 15px;
  line-height: 16px;
  text-transform: lowercase;
  background-color: var(--background-white);

  @media (min-width: $tablet) {
    margin-left: 72px;
    padding: 0 12px;
  }
}

/* Countries list */

.partner__ways-list {
  margin: 0 0 0 25px;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet) {
    margin-left: 37px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    align-items: start;
    margin-left: 0;
    margin-top: 49px;
  }
}

.partner__ways-item {
  display: flex;
  align-items: center;
}

.partner__ways-item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 27px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 14px;
    margin-right: 0;
  }
}

.partner__country-flag {
  width: 26px;
  height: 18px;
  margin-right: 14px;

  @media (min-width: $tablet) {
    width: 35px;
    height: 24px;
    margin-right: 11px;
  }

  @media (min-width: $desktop) {
    margin-right: 18px;
  }
}

.partner__country-name {
  padding-top: 2px;
  font-family: $font-medium;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--basic-300);

  @media (min-width: $tablet) {
    padding-top: 4px;
    font-size: 20px;
    line-height: 20px;
  }
}

/* Transport Block */

.partner__transport-wrapper {
  grid-area: transport;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.partner__transport-list {
  margin: 0 0 0 21px;
  padding-left: 0;

  @media (min-width: $tablet) {
    margin-left: 15px;
    margin-top: 16px;
  }

  @media (min-width: $desktop) {
    margin-left: -4px;
    margin-top: 11px;
  }
}

/* Level Block */

.partner__level-wrapper {
  position: relative;
  grid-area: level;
}

.partner__level {
  position: absolute;
  top: 29px;
  left: 10px;

  @media (min-width: $tablet) {
    top: -4px;
    left: 0;
  }

  @media (min-width: $desktop) {
    top: -105px;
    left: -106px;
  }
}

/* Button Call Block */

.partner__call-btn {
  margin: 0 20px;
  padding: 14px 25px 9px;
  grid-area: btn;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic);
  border: none;
  border-radius: 25px;
  background-color: var(--accent);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  @media (min-width: $tablet) {
    align-self: end;
    margin: 0 0 0 29px;
    padding-bottom: 11px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 48px 54px;
  }

  &:hover {
    background-color: var(--accent-600);
  }

  &:active {
    color: var(--basic-fade);
  }
}

/* Rating block like-heart */

.partner__rating-wrapper {
  margin-left: -20px;
  margin-bottom: 4px;
  width: 71px;
  display: flex;
  align-items: center;
  grid-area: rating;

  @media (min-width: $tablet) {
    width: auto;
    margin-bottom: 0;
    margin-left: 1px;
    align-self: end;
  }

  @media (min-width: $desktop) {
    margin-bottom: 47px;
  }
}

.partner__rating-icon {
  margin-right: 6px;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: var(--background-600);
  cursor: pointer;
  transition: background-color 0.3s;

  @media (min-width: $tablet) {
    width: 50px;
    height: 50px;
  }

  &:hover .partner__rating-svg {
    opacity: 1;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:active .partner__rating-svg {
    opacity: 0.1;
  }

  &--liked {
    background-color: #f9eaea;

    .partner__rating-svg {
      opacity: 1;
      fill-rule: nonzero;
      fill: #f02323;
    }

    &:hover {
      background-color: #f9d8d8;
    }

    &:active .partner__rating-svg {
      opacity: 0.3;
    }
  }
}

.partner__rating-svg {
  width: 12px;
  height: 13px;
  opacity: 0.5;
  fill-rule: evenodd;
  fill: var(--background-400);
  transition: opacity 0.3s;

  @media (min-width: $tablet) {
    width: 20px;
    height: 22px;
  }
}

.partner__rating-count {
  font-family: $font-bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--basic);

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}
