.plan-card {
  padding: 24px 25px 19px;
  background-color: var(--background-white);
  border-radius: 10px;
  color: var(--basic-300);

  @media (min-width: $tablet) {
    padding: 40px 0 0;
  }

  @media (min-width: $desktop) {
    padding: 37px 42px 36px 43px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.plan-card__title {
  margin-top: 0;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 17px 1fr;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.038em;

  @media (min-width: $tablet) {
    margin-bottom: 34px;
    padding-left: 41px;
    padding-right: 32px;
    grid-template-columns: 1fr 20px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 0;
    grid-template-columns: 17px 1fr;
    column-gap: 36px;
  }

  &::after {
    content: counter(plan-number) ". ";
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;

    @media (min-width: $tablet) {
      grid-column: 2 / 3;
      font-size: 20px;
      line-height: 20px;
      justify-self: end;
    }

    @media (min-width: $desktop) {
      grid-column: 1 / 2;
      justify-self: start;
      line-height: 24px;
    }
  }
}

.plan-card__descr {
  @media (min-width: $tablet) {
    padding: 20px 40px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);

    @media (min-width: $desktop) {
      padding: 0;
      border-top: none;
    }
  }
}

.plan-card__companions,
.plan-card__date {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-medium;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.plan-card__companions {
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    letter-spacing: 0.1em;
  }
}

.plan-card__date {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-left: -20px;
    letter-spacing: 0.06em;
  }

  @media (min-width: $desktop) {
    margin-left: -88px;
  }
}

.plan-card__change {
  font-family: $font-medium;
  font-size: 14px;
  line-height: 14px;
  color: rgba(#000000, 0.3);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 0.3s;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  &:hover {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.1);
  }
}
