.profile {
  position: relative;
  margin-top: calc(var(--header-border-radius) * -1);
  padding-top: 44px;
  padding-bottom: 17px;
  background-color: var(--background);

  @media (min-width: $tablet) {
    padding-top: 126px;
  }
}

.profile__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "level photo"
    "button button"
    "tags tags"
    "transport transport";
  align-items: start;
  justify-content: center;
  column-gap: 35px;

  @media (min-width: $tablet) {
    padding-left: var(--double-padding);
    padding-right: var(--double-padding);
    grid-template-columns: 94px 1fr 94px;
    grid-template-areas:
      "level transport photo"
      "button button button"
      "tags tags tags";
    column-gap: 0;
  }
}

.profile__level {
  margin-bottom: 5px;
  top: -3px;
  right: -2px;
  justify-self: end;
  grid-area: level;
  text-align: right;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    top: -6px;
    right: -5px;
  }
}

.profile__photo {
  width: 100px;
  height: 100px;
  grid-area: photo;
}

.profile__btn {
  margin-bottom: 25px;
  padding: 0;
  grid-area: button;
  width: 100%;
  min-height: 40px;
  border: none;
  border-radius: 20px;
  background-color: var(--background-700);
  cursor: pointer;
  transition: background-color 0.3s;

  @media (min-width: $tablet) {
    margin-bottom: 44px;
    min-height: 60px;
    border-radius: 10px;
  }

  &:hover {
    background-color: #d1d7e9;
  }

  &:active {
    background-color: var(--background-700);

    .profile__btn-text {
      color: var(--basic-fade);
    }
  }
}

.profile__btn-text {
  font-family: $font-bold;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic);
  text-align: center;
  text-transform: uppercase;
  transition: color 0.3s;

  @media (min-width: $tablet) {
    letter-spacing: 0.09em;
  }

  &--small {
    display: none;
  }
}

.profile__block {
  position: relative;
  margin-top: 8px;
  margin-bottom: 17px;
  display: grid;

  &--tags {
    margin-bottom: 17px;
    grid-area: tags;

    @media (min-width: $tablet) {
      margin-bottom: 42px;
    }
  }

  &--transport {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    grid-area: transport;

    @media (min-width: $tablet) {
      margin: 0 63px 50px 59px;
    }
  }
}

.profile__text-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: -8px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-shrink: 1;

  @media (min-width: $tablet) {
    grid-row: 2 / 3;
  }
}

.profile__block-title {
  display: inline-block;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0 auto;
  font-family: $font-bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-300);
  background-color: var(--background);

  @media (min-width: $tablet) {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }
}

.profile__tags {
  padding: 26px 28px 25px 24px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 18px;
  color: var(--text);
  background-color: transparent;
  resize: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  transition: border-color 0.3s;

  @media (min-width: $tablet) {
    padding: 35px 28px 13px 39px;
    font-size: 20px;
    line-height: 22px;
  }

  &:hover {
    border-color: #aeb4cb;
  }

  &:focus {
    outline: none;
    border-color: var(--basic);
  }
}

.profile__icons-list {
  margin-top: 15px;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin: 25px 0 24px;
  }
}
