.promo {
  position: relative;
  z-index: 11;
  padding-top: 94px;
  color: var(--contrast-text);
  background-color: var(--basic);
  background-image: url("../img/bg/promo-bg-mobile-crop.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto;

  @media (min-width: $tablet) {
    padding-top: 162px;
    padding-bottom: 96px;
    background-color: var(--basic-550);
    background-image: url("../img/bg/promo-bg-tablet.jpg");
    background-position: center 218px;
    background-size: auto;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--basic-400);
    background-image: url("../img/bg/promo-bg-desktop.jpg");
    background-position: center top;
    background-size: cover;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.promo__wrapper {
  min-height: 929px;
  background-image:
    url("../img/bg/promo-bg-man-mobile.png"),
    linear-gradient(180deg, #192144, #192144);
  background-position: 62% 128px, center 670px;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    min-height: 964px;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    background-image: url("../img/bg/promo-bg-man-tablet.png");
    background-position: 72% 242px;
  }

  @media (min-width: $desktop) {
    min-height: 750px;
    display: grid;
    grid-template-columns: 1fr 343px;
    background-image: url("../img/bg/promo-bg-man-desktop.png");
    background-position: 604px bottom;
  }
}

.promo__title {
  max-width: 270px;
  min-height: 431px;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-bold;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  @media (min-width: $tablet) {
    max-width: 450px;
    min-height: auto;
    margin-bottom: 87px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    margin: 209px 0 0 67px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
  }
}

.promo__quote {
  margin: 0 0 30px 26px;
  max-width: 161px;

  @media (min-width: $tablet) {
    max-width: 265px;
    min-height: 370px;
    margin-left: calc((100% - 622px) / 2);
    margin-bottom: 26px;
  }

  @media (min-width: $desktop) {
    max-width: none;
    min-height: auto;
    padding-top: 221px;
    padding-left: 58px;
    margin-left: 0;
    margin-bottom: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.promo__quote-text {
  margin-top: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 41px;
  }
}

.promo__quote-author {
  font-family: $font-bold;
  font-style: normal;

  @media (min-width: $tablet) {
    br:nth-child(2) {
      display: none;
    }
  }
}

.promo__steps {
  width: 100%;
  background-image: linear-gradient(180deg, var(--basic) 25%, var(--basic-400) 25%);

  @media (min-width: $tablet) {
    bottom: 0;
    background-image: none;
    background-color: var(--basic-400);
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    align-self: end;
    padding-bottom: 0;
    margin-bottom: 123px;
    background-color: transparent;
  }
}

.promo__steps-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  counter-reset: steps;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.promo__steps-item {
  position: relative;
  padding: 22px 24px 32px 24px;
  margin-bottom: -10px;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
  color: var(--basic);
  background-color: var(--accent);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (min-width: $tablet) {
    padding-left: 33px;
    padding-top: 31px;
    padding-bottom: 61px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 24px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  @media (min-width: $desktop) {
    margin-right: -30px;
    padding: 27px 80px 29px 32px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &::after {
    position: absolute;
    top: 22px;
    right: 21px;
    counter-increment: steps;
    content: counter(steps);
    font-family: $font-bold;
    font-size: 18px;
    line-height: 18px;
    color: var(--contrast-text);

    @media (min-width: $tablet) {
      top: auto;
      bottom: 21px;
      right: auto;
      left: 33px;
      font-size: 30px;
      line-height: 30px;
    }

    @media (min-width: $desktop) {
      top: 29px;
      right: 64px;
      left: auto;
      bottom: auto;
      font-size: 24px;
      line-height: 24px;
    }
  }

  &:nth-child(4n+1) {
    background-color: var(--accent-800);
  }

  &:nth-child(4n+2) {
    background-color: var(--accent-700);
  }

  &:nth-child(4n+3) {
    background-color: var(--accent-600);
  }

  &:nth-child(4n) {
    background-color: var(--accent);
  }

  &:first-child {
    @media (min-width: $tablet) {
      margin-right: -20px;
      border-top-left-radius: 20px;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet) {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    @media (min-width: $desktop) {
      margin-left: -15px;
      border-top-right-radius: 0;
    }
  }

  &:nth-child(3) {
    @media (min-width: $tablet) {
      margin-right: -20px;
      border-bottom-left-radius: 20px;
    }

    @media (min-width: $desktop) {
      margin-right: -47px;
      border-bottom-left-radius: 20px;
    }
  }

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 0;
    padding-bottom: 22px;

    @media (min-width: $tablet) {
      padding-bottom: 32px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    @media (min-width: $desktop) {
      margin-right: 0;
      margin-left: 15px;
      border-top-right-radius: 20px;

      &::after {
        right: 33px;
      }
    }
  }
}
