.register {
  position: relative;
  z-index: 6;
  margin-top: -30px;
  padding-top: 102px;
  padding-bottom: 28px;
  background-color: var(--basic-400);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  @media (min-width: $tablet) {
    margin-top: -60px;
    padding-top: 136px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop) {
    padding-top: 169px;
    padding-bottom: 101px;
  }
}

.register__title {
  margin-bottom: 19px;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 58px;
  }
}

.register__text {
  margin: 0 30px 29px;
  color: var(--contrast-text);
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0 35px 63px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
    line-height: 31px;
  }

  &--wide {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 18px;

    @media (min-width: $tablet) {
      margin-bottom: 47px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 44px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.register__link {
  color: var(--accent);
  text-decoration: underline;
  transition: color 0.3s;

  &:hover {
    color: var(--accent-800);
  }

  &:active {
    color: var(--accent-800-fade);
  }
}

.register__field {
  margin-bottom: 29px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60px;

  @media (min-width: $tablet) {
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 64px;
    grid-template-columns: 1fr 80px;
  }

  @media (min-width: $desktop) {
    margin-left: var(--double-padding);
    margin-right: 73px;
    margin-bottom: 71px;
    grid-template-columns: 1fr 323px;
  }
}

.register__input {
  height: 62px;
  padding-left: 25px;
  padding-right: 70px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
  color: var(--text);
  background-color: #ffffff;
  border: none;
  border-radius: 10px;

  @media (min-width: $tablet) {
    height: 80px;
    padding-left: 36px;
    padding-right: 100px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }
}

.register__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;

  @media (min-width: $tablet) {
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
  }

  &:hover {
    background-color: var(--accent-600);
  }

  &:active {
    background-color: var(--accent-600);

    &::after {
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    margin-left: 10px;
    border: 6px solid transparent;
    border-left: 10px solid var(--basic-300);
    transition: opacity 0.3s;

    @media (min-width: $desktop) {
      margin-right: 28px;
      border-left: 14px solid var(--basic-300);
    }
  }
}

.register__btn-text {
  display: none;

  @media (min-width: $desktop) {
    margin-left: 36px;
    display: inline-block;
    font-family: $font-bold;
    font-size: 24px;
    line-height: 24px;
    color: var(--basic-300);
  }
}

.register__contacts {
  @media (min-width: $tablet) {
    padding-left: 34px;
  }

  @media (min-width: $desktop) {
    padding-left: 108px;
  }
}
