.steps-slider__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.steps-slider__item {
  position: relative;
  padding: 24px 24px 6px;
  background-color: var(--background-white);
  border-radius: 10px;

  @media (min-width: $tablet) {
    padding: 48px 40px 56px;
    border-radius: 30px;
  }

  @media (min-width: $desktop) {
    padding: 101px 159px 104px;
    border-radius: 60px;
  }

  &--first {
    padding-bottom: 23px;

    @media (min-width: $tablet) {
      padding-bottom: 56px;
    }

    @media (min-width: $desktop) {
      padding: 101px 161px 106px 159px;
    }
  }

  & + & {
    margin-top: 10px;

    @media (min-width: $tablet) {
      margin-top: 39px;
    }

    @media (min-width: $desktop) {
      margin-top: 42px;
    }
  }

  &:last-child {
    @media (min-width: $tablet) {
      margin-top: 49px;
    }

    @media (min-width: $desktop) {
      margin-top: 43px;
    }
  }
}

.steps-slider__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: $font-bold;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-300);

  @media (min-width: $tablet) {
    width: 300px;
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    width: 450px;

    br {
      display: none;
    }
  }
}

.steps-silder__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet) {
    width: 500px;
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    width: 589px;
    margin-bottom: 55px;
  }

  &--contries {
    @media (min-width: $tablet) {
      margin-bottom: 31px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 53px;
    }
  }

  br {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }
}

/* INPUTS FIRST STEP */

.steps-slider__inputs-group {
  margin: 0 0 23px;
  padding: 0;
  display: grid;
  row-gap: 20px;
  border: none;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
    row-gap: 25px;
  }

  @media (min-width: $desktop) {
    padding-top: 28px;
    margin-bottom: 31px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    row-gap: 14px;
    border-top: 1px solid var(--border-color-400);
  }
}

.steps-slider__label {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 8px;

  @media (min-width: $tablet) {
    padding-top: 26px;
    row-gap: 22px;
    border-top: 1px solid var(--border-color-400);
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    grid-template-columns: 220px 180px auto;
    align-items: center;
    border-top: none;
  }
}

.steps-slider__label-title,
.steps-slider__label-subtitle {
  font-family: $font-medium;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.steps-slider__label-title {
  grid-row: 1 / 2;
  color: var(--basic-300);
  letter-spacing: 0.09em;

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    justify-self: start;
    letter-spacing: 0;
  }
}

.steps-slider__label-subtitle {
  grid-row: 1 / 2;
  color: var(--basic-300-fade);
  letter-spacing: 0.07em;

  @media (min-width: $desktop) {
    grid-column: 3 / 4;
    justify-self: center;
    letter-spacing: 0;
  }
}

.steps-slider__field {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin: 0;
  display: grid;
  grid-template-columns: 42px 1fr 42px;

  @media (min-width: $tablet) {
    grid-template-columns: 66px 1fr 66px;
  }

  @media (min-width: $desktop) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
  }

  &:hover {
    .steps-slider__input {
      border-color: var(--border-color-600);
    }

    .steps-slider__input-btn::before,
    .steps-slider__input-btn::after {
      background-color: var(--border-color-600);
    }
  }

  &:active,
  &:focus-within {
    .steps-slider__input {
      outline: none;
      border-color: var(--basic);
    }

    .steps-slider__input-btn::before,
    .steps-slider__input-btn::after {
      background-color: var(--basic);
    }
  }

  .steps-slider__input-btn:hover::before,
  .steps-slider__input-btn:hover::after {
    background-color: #999999;
  }

  .steps-slider__input-btn:active::before,
  .steps-slider__input-btn:active::after {
    background-color: #e5e5e5;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
  }

  input[type="number"] {
    appearance: textfield;
  }
}

.steps-slider__input {
  min-height: 43px;
  padding: 0;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-family: $font-medium;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: var(--basic-300);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color 0.3s;

  @media (min-width: $tablet) {
    min-height: 70px;
    font-size: 20px;
    line-height: 20px;
  }
}

.steps-slider__input-btn {
  position: relative;
  padding: 0;
  width: 42px;
  height: 100%;
  grid-row: 1 / 2;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 66px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    left: 14px;
    top: calc(50% - 1px);
    background-color: #cccccc;
    transition: background-color 0.3s;

    @media (min-width: $tablet) {
      width: 20px;
      left: 23px;
    }
  }

  &--minus {
    grid-column: 1 / 2;
  }

  &--plus {
    grid-column: 3 / 4;

    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 2px;
      left: 14px;
      top: calc(50% - 1px);
      background-color: #cccccc;
      transform: rotate(90deg);
      transition: background-color 0.3s;

      @media (min-width: $tablet) {
        width: 20px;
        left: 23px;
      }
    }
  }
}

.steps-slider__small-label {
  display: flex;
  align-items: center;
  gap: 13px;
  font-family: $font-regular;
  font-size: 15px;
  line-height: 15px;
  color: var(--basic-300);

  @media (min-width: $tablet) {
    grid-row: 2 / 3;
    gap: 22px;
    font-family: $font-medium;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  @media (min-width: $desktop) {
    margin-right: -2px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
  }
}

.steps-slider__checkbox {
  &:checked + .steps-slider__styled-checkbox::after {
    background-image: url("../img/icons/icon-checked.svg");
  }

  &:checked:active + .steps-slider__styled-checkbox::after {
    opacity: 0.3;
  }
}

.steps-slider__styled-checkbox {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color 0.2s, background-color 0.2s;

  @media (min-width: $tablet) {
    width: 36px;
    height: 36px;
  }

  &:hover {
    border-color: var(--border-color-600);
  }

  &:active {
    background-color: #e2e5f1;
    border-color: #e2e5f1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 17px;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
  }
}

.steps-slider__calendar {
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

/* NEXT PREV BUTTONS */

.step-slider__buttons-wrapper {
  @media (min-width: $tablet) {
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.step-slider__step-link {
  width: 100%;
  padding: 7px 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-300);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  @media (min-width: $tablet) {
    position: relative;
    width: 284px;
    padding: 29px 60px 27px 33px;
    justify-content: flex-start;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;

    &::after {
      position: absolute;
      top: 50%;
      right: 30px;
      content: "";
      width: 1px;
      height: 1px;
      border: 6px solid transparent;
      border-left: 11px solid var(--basic-300);
      transform: translateY(-50%);
      transition: opacity 0.3s;
    }
  }

  &--next {
    background-color: var(--accent);
    border-radius: 20px;

    &:hover {
      background-color: var(--accent-600);
    }

    &:active {
      color: var(--basic-300-fade);

      &::after {
        opacity: 0.3;
      }
    }
  }

  &--prev {
    margin-top: 6px;
    transition: filter 0.3s;

    @media (min-width: $tablet) {
      width: 219px;
      margin-top: 0;
      padding: 11px 2px 8px 70px;
      justify-content: flex-end;

      &::after {
        right: auto;
        left: 30px;
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &:hover {
      filter: opacity(0.7);
    }

    &:active {
      filter: opacity(0.3);
    }
  }
}

/* 2 slide COUNTRIES */

.step-slider__counties-set {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  border: 0;

  @media (min-width: $tablet) {
    margin-bottom: 51px;
    padding-top: 42px;
    border-top: 1px solid var(--border-color-400);
  }

  @media (min-width: $desktop) {
    margin-bottom: 60px;
    padding-top: 62px;
  }
}

.step-slider__counties-list {
  padding-left: 0;
  list-style: none;
}

.step-slider__country + .step-slider__country {
  margin-top: 22px;

  @media (min-width: $tablet) {
    margin-top: 15px;
  }
}

/* 3 slide FUN */

.steps-slider__fun-group {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet) {
    margin: -2px 0 2px 3px;
    padding-top: 23px;
    border-top: 1px solid var(--border-color-400);
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding-top: 69px;
  }
}

.steps-slider__fun-list {
  padding-left: 0;
  list-style: none;

  @media (min-width: $desktop) {
    margin-bottom: 13px;
  }
}

.steps-slider__fun-item {
  position: relative;
  padding-bottom: 25px;

  @media (min-width: $tablet) {
    padding-bottom: 42px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 45px;
  }

  &:not(:last-child)::before {
    position: absolute;
    content: "";
    top: 12px;
    bottom: -12px;
    left: -13px;
    width: 2px;
    background-color: var(--basic-300);

    @media (min-width: $tablet) {
      left: auto;
      right: 6px;
      top: 22px;
      bottom: -22px;
    }

    @media (min-width: $desktop) {
      right: 226px;
    }
  }

  &:last-child {
    padding-bottom: 22px;

    @media (min-width: $tablet) {
      padding-bottom: 45px;
    }
  }
}

.steps-slider__fun-label {
  display: grid;
  grid-template-columns: 1fr 75px;
  row-gap: 5px;
  align-items: center;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 103px;
    row-gap: 26px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 272px;
    row-gap: 21px;
  }
}

.steps-slider__fun-title {
  position: relative;
  margin-top: -4px;
  margin-bottom: 0;
  padding-left: 11px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-family: $font-medium;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--basic-300);

  @media (min-width: $tablet) {
    padding-left: 0;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.017em;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
  }

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--basic-300);

    @media (min-width: $tablet) {
      width: 14px;
      height: 14px;
      left: auto;
      right: 0;
      top: 9px;
    }

    @media (min-width: $desktop) {
      right: -52px;
      top: 7px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 7px;
    left: -13px;
    width: 12px;
    height: 2px;
    background-color: var(--basic-300);

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.steps-slider__fun-flag {
  z-index: 2;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient(90deg, transparent 0, white 24px);

  @media (min-width: $tablet) {
    justify-content: start;
    background-image: none;
  }

  @media (min-width: $desktop) {
    margin-top: 3px;
    margin-left: 86px;
  }
}

.steps-slider__fun-descr {
  height: 220px;
  padding: 10px 14px;
  grid-column: 1 / -1;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  resize: none;
  overflow-y: auto;

  @media (min-width: $tablet) {
    height: 142px;
    margin-right: 33px;
    padding: 17px 19px;
    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
    padding: 23px 15px 23px 26px;
    grid-column: 1 / 2;
  }
}

/* pagination section */

.step-slider__pagination {
  position: absolute;
  top: 39px;
  right: 48px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  @media (min-width: $tablet) {
    top: 66px;
    right: 79px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.step-slider__pagination-item {
  position: relative;

  & + & {
    margin-left: 21px;

    @media (min-width: $tablet) {
      margin-left: 35px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--basic-300);
    opacity: 0.3;

    @media (min-width: $tablet) {
      width: 6px;
      height: 6px;
    }
  }

  &--active::before {
    opacity: 1;
  }
}

.step-slider__pagination-text {
  display: none;
}

/* Desktop Navigation section */

.step-slider__nav {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: $desktop) {
    display: block;
    position: absolute;
    top: 106px;
    right: 204px;
  }
}

.step-slider__nav-item:not(:last-child) {
  margin-bottom: 19px;
}

.step-slider__nav-link {
  position: relative;
  padding-left: 42px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.11em;
  color: var(--text-900);
  text-transform: uppercase;
  filter: opacity(0.6);
  transition: filter 0.3s;

  &--active {
    filter: opacity(1);
  }

  &:hover {
    filter: opacity(1);
  }

  &:active {
    filter: opacity(0.3);
  }

  &::before {
    position: absolute;
    content: "";
    top: 35%;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--basic-300);
    transform: translateY(-50%);
    filter: opacity(0.6);
  }
}
