*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-light;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--text);
  background-color: var(--background);

  @media (min-width: $tablet) {
    font-size: 28px;
  }
}

.text-block {
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop) {
    line-height: 34px;
  }
}

.text-bold {
  font-family: $font-bold;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $tablet) {
    line-height: 24px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-mobile);
  padding-right: var(--padding-mobile);

  @media (min-width: $tablet) {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding-desktop);
    padding-right: var(--padding-desktop);
  }
}

.btn {
  padding: 12px 28px 8px;
  font-family: $font-bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: var(--basic);
  text-transform: uppercase;
  background-color: var(--accent);
  border-radius: 25px;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-600);
  }

  &:active {
    color: var(--basic-fade);
    background-color: var(--accent-600);
  }

  &--mobile-auth {
    display: block;
    width: 100%;
  }

  &--auth {
    width: 190px;
    padding-top: 7px;
    padding-bottom: 3px;
    overflow-x: hidden;

    @media (min-width: $tablet) {
      padding-top: 16px;
      padding-bottom: 14px;
      font-size: 20px;
      line-height: 20px;
      width: 188px;
    }
  }

  &--big {
    position: relative;
    display: block;
    width: 100%;
    padding: 22px 36px 22px 23px;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    text-transform: none;
    border-radius: 10px;

    @media (min-width: $tablet) {
      padding: 28px 46px 28px 31px;
      font-size: 24px;
      line-height: 24px;
      border-radius: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      right: 17px;
      top: 50%;
      border: 6px solid transparent;
      border-left: 10px solid var(--basic-300);
      transform: translateY(-50%);
      transition: opacity 0.3s;

      @media (min-width: $tablet) {
        right: 30px;
      }
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &--border {
    border: 3px solid var(--basic-400);
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-bold;
  font-size: 24px;
  line-height: 24px;
  color: var(--accent-800);

  @media (min-width: $tablet) {
    font-size: 45px;
    line-height: 45px;
  }
}

.animation-in {
  animation: menu-in 1s forwards;

  @keyframes menu-in {
    0% {
      transform: translateY(-30px);
    }

    33% {
      transform: translateY(-5px);
    }

    66% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.animation-out {
  animation: menu-out 0.5s linear;

  @keyframes menu-out {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-30px);
    }
  }
}

.no-scroll {
  overflow: hidden;
}
